.main-container{
    display: flex;
    justify-content: space-around;
    
   
}
.img{
display: flex;
align-items: center;
margin-left:  10%;
margin-right: 5%;
max-width: 700px;
}

.details {
    display: flex;
    justify-content: space-around;
    border: 1px double black;
    flex-direction: column;
    
}